.background-blue {
    background-color: black;
    color: white;
}

.card {
    width: 20em;
    overflow: hidden;
    padding: 0;
    border-radius: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.card-body {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1.25em;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: bold;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}