{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<div class="jumbotron background-blue">
    <h1>Landing Page Here</h1>
</div>

<div class="container">
    <h2>Most Expensive Items</h2>
  <table>
  <tr>
    <th>Item Name</th>
    <th>Is Available</th>
    <th>Highest Bid</th>
  </tr>

  {% for listing in e_listings %}
  
  <tr>
    <td>{{listing[0]}}</td>
    <td>{{listing[1]}}</td>
    <td>{{listing[2]}}</td>
  </tr>
  {%- endfor %}
</table>

    <h2> Most Popular Items</h2>
<table>
  <tr>
    <th>Item Name</th>
    <th>Is Available</th>
    <th>Number of Bidders</th>
  </tr>

  {% for listing in p_listings %}
  
  <tr>
    <td>{{listing[0]}}</td>
    <td>{{listing[1]}}</td>
    <td>{{listing[2]}}</td>
  </tr>
  {%- endfor %}
</table>

</div>

<div>
    <p>Local Date and Time: {{ moment(current_time).format('LLL') }}</p>
    <p>This was updated {{ moment(current_time).fromNow(refresh=True) }}</p>
</div>

{% endblock %}

