{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="jumbotron background-blue">
    <h1>Here are your current listings!</h1>
    <p>If there isn't any, click the button below to add one!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Add Listing</a></p>
</div>

<div>
    <p>Local Date and Time: {{ moment(current_time).format('LLL') }}</p>
    <p>This was updated {{ moment(current_time).fromNow(refresh=True) }}</p>
</div>

{% endblock %}