{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="container">
        <div class="page-header">
            <h1 id="title1">Available For Bidding</h1>
        </div>
        <div class="row">
            <div id="listings" class="col-md-8 list-group">
                {% for listing in available %}
                    <a href="{{ url_for('listing_details', listing_name=listing.listing_name, owner_id=listing.owner_id) }}" class="list-group-item">
                        {{ listing.listing_name }}
                        {% if listing.tag_name != None %}
                        {% for x in listing.tag_name.split(',') %}
                            <span class="badge badge-primary badge-pill">{{ x }}</span>
                        {% endfor %}
                        {% endif%}
                    </a>
                {% endfor %}
            </div>

            <div id="loans" class="col-md-8" style="display:none;">
                {% for loan in loans %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ loan.listing_name }}</h4>
                        <p class="card-text">
                            Borrowed on: {{ moment(loan.borrow_date).format('D MMM YYYY') }} <br />
                            Expected to return on: {{ moment(loan.return_date).format('D MMM YYYY') }} <br />
                            Return location: {{ loan.return_loc }} <br />
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div id="bids" class="col-md-8 list-group" style="display:none">
                {% for bid in bids %}
                        {% if get_listing_to_description(bid.listing_name, bid.owner_id) == 'true' %}
                            <a href="{{ url_for('listing_details', listing_name=bid.listing_name, owner_id=bid.owner_id) }}"
                               class="list-group-item">
                                Name: {{ bid.listing_name }} | Bid-Price: {{ bid.price }}
                            </a>
                        {% else %}
                            <a href="#"
                               class="list-group-item disabled">
                                Name: {{ bid.listing_name }} | Bid-Price: {{ bid.price }}
                            </a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-4 btn-toolbar-vertical">
                <button id="listing_btn" type="button" class="btn btn-default btn-lg btn-block">My Listings</button>
                <button id="loan_btn" type="button" class="btn btn-default btn-lg btn-block">My Loans</button>
                <button id="bid_btn" type="button" class="btn btn-default btn-lg btn-block">My Bids</button>
                <button type="button" class="btn btn-default btn-lg btn-block"
                        onclick="window.location.href='{{ url_for('create_listing') }}';">Add New Listing
                </button>
            </div>
        </div>

        <div id="sub-content">
            <div class="page-header">
                <h1 id="title2">Not Available For Bidding</h1>
            </div>
            <div class="row">
                <div class="col-md-8 list-group">
                    {% for listing in not_available %}
                        <a href="{{ url_for('loan_details', listing_name=listing.listing_name, owner_id=listing.owner_id) }}" class="list-group-item">
                            {{ listing.listing_name }}
                            {% if listing.tag_name != None %}
                            {% for x in listing.tag_name.split(',') %}
                                <span class="badge badge-primary badge-pill">{{ x }}</span>
                            {% endfor %}
                            {% endif%}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $('#loan_btn').click(function() {
        $('#loans').css('display', 'block');
        $('#sub-content').css('display', 'none');
        $('#title1').text('Current Loans');
        $('#listings').css('display', 'none');
        $('#bids').css('display', 'none');
 });
    $("#listing_btn").click(function() {
        $('#listings').css('display', 'block');
        $('#sub-content').css('display', 'block');
        $('#title1').text('Available For Bidding');
        $('#loans').css('display', 'none')
        $('#bids').css('display', 'none');
 });

    $("#bid_btn").click(function() {
        $('#bids').css('display', 'block');
        $('#sub-content').css('display', 'none');
        $('#title1').text('My Bids');
        $('#loans').css('display', 'none')
        $('#listings').css('display', 'none');
    });
</script>
{% endblock %}
