{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>User Profile</h1>
</div>

{% if user is defined %}
    <div class="media">
      <div class="media-left">
          <img class="media-object" src="https://via.placeholder.com/350x150" alt="placeholder">
      </div>
      <div class="media-body">
        <h3 class="media-heading">{{ user.name.capitalize() }}</h3>
          <div><br>
              <p>Username: {{ user.username }}</p>
              <p>Email: {{ user.email }}</p>
              <p>Total number of listings: {{ listing|length }}</p>
              <p>
                  Most commonly used tag: <span class="label label-primary">{{ most_common_tag.tag_name }}
              </span></p>
          </div>
      </div>
    </div>
{% else %}
    <h2>User doesn't exist.</h2>
{% endif %}

<div class="page-header">
    <h1>Listings</h1>
</div>
<div>
    {% if listing is defined and listing|length > 0 %}
        {% for listing in listing %}
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a href="{{ url_for('listing_details', listing_name=listing.listing_name, owner_id=listing.owner_id)}}">{{ listing.listing_name }}</a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>{{ listing.description }}</p>
                        {% if listing.tag_name is not none %}
                            <p>
                                {% set tags = listing.tag_name.split(',') %}
                                {% for tag in tags %}
                                        <span class="label label-primary">{{ tag }}</span>
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        Posted on: {{ moment(listing.listed_date).format('LLL') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>There are no available listings at the moment.</h2>
    {% endif %}
</div>

{% endblock %}