{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="container">
        <div class="page-header">
            <h1 id="title1">Available For Bidding</h1>
        </div>
        <div class="row">
            <div id="listings" class="col-md-8 list-group">
                {% for listing in available %}
                    <a href="{{ url_for('listing_details', listing_name=listing.listing_name, owner_id=listing.owner_id) }}" class="list-group-item">
                        Name: {{ listing.listing_name }}, Tag: {{ listing.tag_name }}</a>
                {% endfor %}
            </div>

            <div id="loans" class="col-md-8 list-group" style="display:none">
                {% for listing in loans %}
                    <a class="list-group-item">Name: {{ listing.listing_name }}</a>
                {% endfor %}
            </div>

            <div class="col-md-4 btn-toolbar-vertical">
                <button id="listing_btn" type="button" class="btn btn-default btn-lg btn-block">My Listings</button>
                <button id="loan_btn" type="button" class="btn btn-default btn-lg btn-block">My Loans</button>
                <button type="button" class="btn btn-default btn-lg btn-block"
                        onclick="window.location.href='{{ url_for('create_listing') }}';">Add New Listing
                </button>
            </div>
        </div>

        <div id="sub-content">
            <div class="page-header">
                <h1 id="title2">Not Available For Bidding</h1>
            </div>
            <div class="row">
                <div class="col-md-8 list-group">
                    {% for listing in not_available %}
                        <a href="{{ url_for('loan_details', listing_name=listing.listing_name, owner_id=listing.owner_id) }}"
                           class="list-group-item">
                            Name: {{ listing.listing_name }}, Tag: Book</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="javascript">
    $("#loan_btn").click(function() {
        $("#loans").toggle();
    });
</script>
